<!DOCTYPE html>
<html>
<head>
    <title>Source Information</title>
    <style>
        table {
            margin: auto;
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: center;
        }
        td {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Text Unit Information</h1>
    <table>
        <tr><th>Attribute</th><th>Value</th></tr>
        <tr><td>ID</td><td>{{ data.id }}</td></tr>
        <tr><td>URL ID param</td><td>{{ data.short_id }}</td></tr>
{% if data.human_readable_id is defined and data.human_readable_id is not none %}
        <tr><td>Human Readable ID</td><td>{{ data.human_readable_id }}</td></tr>
{% endif %}
        <tr><td>Text</td><td>{{ data.text }}</td></tr>
{% if data.n_tokens is defined and data.n_tokens is not none %}
        <tr><td>Number of Tokens</td><td>{{ data.n_tokens }}</td></tr>
{% endif %}
{% if data.document_ids is defined and data.document_ids is not none and data.document_ids|length > 0 %}
        <tr>
            <td>Document IDs</td>
            <td>
                <ul>
                {% for id in data.document_ids %}
                    <li><a href="/v1/references/local/documents/{{ id }}">{{ id }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
{% endif %}
{% if data.entity_ids is defined and data.entity_ids is not none and data.entity_ids|length > 0 %}
        <tr><td>Entity IDs</td><td>
                <ul>
                {% for id in data.entity_ids %}
                    <li><a href="/v1/references/local/entities/{{ id }}">{{ id }}</a></li>
                {% endfor %}
                </ul>
            </td></tr>
{% endif %}
{% if data.relationship_ids is defined and data.relationship_ids is not none and data.relationship_ids|length > 0 %}
        <tr><td>Relationship IDs</td><td>
                <ul>
                {% for id in data.relationship_ids %}
                    <li><a href="/v1/references/local/relationships/{{ id }}">{{ id }}</a></li>
                {% endfor %}
                </ul>
            </td></tr>
{% endif %}
{% if data.covariate_ids is defined and data.covariate_ids is not none and data.covariate_ids|length > 0 %}
        <tr><td>Covariate IDs</td><td>{{ data.covariate_ids }}</td></tr>
{% endif %}
    </table>
</body>
</html>